
<h2 id="message-subject"><%= @message.subject %></h2>

<div class="message-wrapper">
  <p>From: <%= @message.sender_username %><p>
  <p><%= @message.body %></p>
  <p><%= @message.created_at %></p>
</div>

